<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExampleVue from "./components/HelloWorldExample.vue";
import HandingUserInputVue from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndloops from "./components/ConditionAndloops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br /><br />
    <FormBindings />
    <br /><br /><br />
    <ConditionAndloops />
    <br />
    <br />
    <AttributeBindings />
    <HandingUserInputVue />
    <CalComponentVue />
    <HelloWorldExampleVue />
  </div>
</template>

<style scoped></style>
